@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&display=swap');


/* Ressources des images
https://www.flaticon.com/packs/music-store-49?word=musical%20instrument
*/

#memorie_rock {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 400px;
    margin: 5vh 0;
    grid-gap: .25rem;
    transition: grid-gap .4s ease-in-out;
}


h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 6vw;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
}


div.case {
    
    padding: 1rem ;
    background-color: rgb(231, 231, 231);
    border-radius: 4px;
    transition: border .3s ease-in-out;
}

.case:hover {
    border:1px solid #E85D04;
    cursor: grab;
}


.case img {
    width: 100%;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.case:hover img{
    border-color: #E85D04;
    cursor: grab;
    opacity: 1;
}

