

body {
    height: 100vh;
}

.memory-game {
    /* width: 640px; */
    /* height: 60vh; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    padding-top: 10px;
}

.memory-card {
    width: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform 200ms;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

img.memory-card {width: 100px;}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    border-radius: 5px;
    backface-visibility:hidden;
}
.front-face {
    transform: rotateY(180deg);
}


/* Gallery for mobile */
@media screen and (max-width:640px){
    .memory-game {
        width: 100%;
        align-items: baseline;
    }

    .memory-card {
        height:15vh;
    }
}