
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset styles CSS */



/*css fond d'écran*/
body{
    background: radial-gradient(#03071E 70%, #370617, #6A040F, #9D0208, #D00000, #DC2F02, #E85D04, #F48C06);
    font-family: 'Indie Flower', cursive;
    background: #F48C06; /* fallback for old browsers /
  background: -webkit-linear-gradient(to bottom, #9D0208, #F48C06); / Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #9D0208, #F48C06); 
  background-attachment: fixed;
  height:100vh;
}
main{
    padding-bottom: 10vh;
}


/* style pour les titres*/
h1 {
    
    font-size: 60px;
    color:#FFBA08;
    text-shadow: 5px 5px 3px #E85D04, 0 0 1em #9D0208, 0 0 0.2em #370617;
    text-align: center;
    padding: 50px;
    font-family: 'Indie Flower', cursive;
}

h2, h3{
  font-size: 30px;
    color: white;
    text-shadow: 5px 5px 3px #E85D04, 0 0 1em #9D0208, 0 0 0.2em #370617;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
}
h3 {
  font-size: 20px;
}

/*style de paragraphe*/
p {
    font-size: 30px;
    color:white;
    text-shadow: 1px 1px 2px #E85D04, 0 0 1em #9D0208, 0 0 0.2em #370617;
    text-align: center;
    padding: 20px;
    font-family: 'Indie Flower', cursive;
}

/*mise en page img page tuto*/
.marioTest{
    display: block;
    margin-left: auto;
    margin-right:auto;
    height: 50vw;
    width: 80vw;
    padding-bottom: 50px;
}

/*design du boutton start page tuto*/
button{
    font-family: 'Indie Flower', cursive;
    display: block;
    background-color: #FFBA08;
    border-radius:20px;
    border: 10px outset #D00000;
    font-size: 30px;
    margin-left: auto;
    margin-right:auto;
}
audio{
    display: none;
}

/* styles for Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.inGallery{
    margin: 10px;
}
.imageGallery{
    width:100%;
    height: auto;
}

/* Gallery for mobile */
@media screen and (max-width:640px){
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width:100vw;
    }  
    .inGallery{
        width:80vw;
    }
    .imageGallery{
          height: auto;
    } 
}

/* style pour page équipe */

ul li {
  list-style: none; 
}

#team {
  text-align: center;
  font-size: 80px;
  margin: 0px;
}

/*style Grid page équipe*/
.prenom {
  font-size: 40px;
  color: white;
  margin: 2px;
}

.container {
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;
  
}

.Presentation-personne {
  text-align: center;
  border-radius: 20px;
}

/* Style images équipe */
.potato {
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

/* Style responsive équipe */
@media only screen and (max-width:640px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

/* navbar */
.navbar {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:10vh;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
    border: 1px solid rgb(151, 151, 151);
    box-shadow: 0 0 5px rgb(151, 151, 151);
    background-color:#F48C06;
}
.navbar_element {
  margin: 10px;
}
.nav_svg {
  height: 10vh;
}

#login_div {
  padding: 20px;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* game.css */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&display=swap');


/* Ressources des images
https://www.flaticon.com/packs/music-store-49?word=musical%20instrument
*/

#memorie_rock {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 400px;
    margin: 5vh 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
}

div.case {
    border:3px solid white;
    padding: 3rem ;
    background-position: center;
    background-size: 50%;
    background-color: rgb(231, 231, 231);
    transition: border .3s ease-in-out;
}

.case:hover {
    border-color: #E85D04;
    cursor: grab;
}

.box1 {
    background:url('img/case_1-guitar.svg') no-repeat;
}

.box2 {
    background:url('img/case_2-harp.svg') no-repeat;
}

.box3 {
    background:url('img/case_3-microphone.svg') no-repeat;
}

.box4 {
    background:url('img/case_4-xylo.svg') no-repeat;
}

.box5 {
    background:url('img/case_5-drum.svg') no-repeat;
}

.box6 {
    background:url('img/case_6-violon.svg') no-repeat;
}

.box7 {
    background:url('img/case_7-saxo.svg') no-repeat;
}

.box8 {
    background:url('img/case_8-horn.svg') no-repeat;
}
.box9 {
    background:url('img/case_9-maraca.svg') no-repeat;
}